<!-- <div class="container">
    <h5><a routerLink="/home/books">Home </a>/ My cart</h5>

    <div class="cart">
        <h2>My cart <span>({{count}})</span></h2>
        <mat-form-field appearance="outline">
            <mat-select>
              <mat-option>
                {{address}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <div class="customer">
        <h2>Customer Details</h2>
        <div class="data">
            <div class="first">
                <div class="name">
                    <h3>Full Name</h3>
                    <span>{{}}</span>
                </div>
                <div class="mob">
                    <h3>Mobile Number</h3>
                    <span>{{}}</span>
                </div>
            </div>
            <div class="second">
                <h2>1. WORK</h2>
                <h3>Address</h3>
                <span>{{}}</span>
            </div>
            <div class="third">
                <div class="city">
                    <h3>city/town</h3>
                    <span>{{}}</span>
                </div>
                <div class="state">
                    <h3>State</h3>
                    <span>{{}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="orderItems">

    </div>
</div> -->