<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">

<nav>
    <div class="logo">
        <img src="../../../assets/images/logo.png" alt="">
        <h3>Bookstore</h3>
    </div>
    
    <div class="search-bar">
        <mat-icon class="material-icons-outlined">search</mat-icon> 
      <input type="text" placeholder="Search" class="search" (input)="searchData($event)">
    </div>
    <div class="header-second">
      <a [matMenuTriggerFor]="menu"> 
        <mat-icon class="material-icons-outlined">person</mat-icon><br>
        Profile
      </a>
      <mat-menu #menu="matMenu" class="menuDiv">
          <h4 mat-menu-item *ngIf="userAuth">Hello {{userName}},</h4>
          <h4 mat-menu-item *ngIf="!userAuth">Welcome</h4>
          <button mat-menu-item><mat-icon class="material-icons-outlined">person</mat-icon> Profile</button>
          <button mat-menu-item><mat-icon class="material-icons-outlined">orders</mat-icon> My Orders</button>
          <button mat-menu-item routerLink = "/home/wishlist"><mat-icon class="material-icons-outlined">favorite</mat-icon> My Wishlist</button>
          <button mat-menu-item routerLink = "/" (click)="logout(message.value)" *ngIf="userAuth" class="logBtn">Logout</button>
          <button mat-menu-item routerLink = "/login" *ngIf="!userAuth" class="logBtn">LOGIN/SIGNUP</button>
      </mat-menu>

      <!-- <mat-menu>
        
      </mat-menu> -->
      <button class="cart" routerLink="/home/cart">
        <mat-icon class="material-icons-outlined">shopping_cart</mat-icon><br>
        Cart
      </button>
    </div>
</nav>

<div class="books">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="content">
    <h5>Copyright &#169;	2023, Bookstore Private Limited. All Rights Reserved</h5>
  </div>
</footer>


<mat-form-field appearance="fill" style="visibility: hidden;">
  <mat-label>Message</mat-label>
  <input matInput value="Logged out Successfullly" #message>
</mat-form-field>