<div class="container">
    <h5><a routerLink="/home/books">Home </a>/ My Wishlist</h5>

    <div class="main">
        <h3>My Wishlist ({{count}})</h3>
        <div class="books-container">
            <div class="books" *ngFor="let book of books">
                <div class="data">
                    <img src="../../../assets/images/book_front.png" alt="">
                    <div class="content">
                        <h4>{{book.bookName}}</h4>
                        <h6>by {{book.author}}</h6>
                        <h5>Rs. {{book.discountPrice}} <span>Rs. {{book.price}}</span></h5>
                    </div>
                </div>
                <div class="btn">
                    <button mat-flat-button class="removeBtn" (click)="removeFromWishlist(book.bookId,message.value)"><mat-icon class="material-icons-outlined">delete</mat-icon></button>
                </div>
            </div>
        </div>
    </div>
</div>

<mat-form-field appearance="fill" style="visibility: hidden;">
    <mat-label>Message</mat-label>
    <input matInput value="Book removed from wishlist successfully" #message>
</mat-form-field>