<div class="container">
    <img src="../../../assets/images/success.png" alt="">
    <p>hurray!!! your order is confirmed <br>the order id is #123456 save the order id for further communication</p>
    <div class="content">
        <table>
            <tr>
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>admin@bookstore.com</td>
                <td>+91 8163475881</td>
                <td style="text-align: left;">42, 14th Main, 15th Cross, Sector 4, opp to BDA complex. near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
            </tr>
        </table>

        <div class="btn">
            <button mat-flat-button class="continueBtn" routerLink="/home/books">Continue Shopping</button>
        </div>
    </div>
</div>